body {
    background-color: black;

}
h1 {
    color: antiquewhite;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 54px;
}
h2 {
    color: antiquewhite;
    text-align: ;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 54px;
}