body {
    background-color: black;
}
@media screen {
    min-width: 480px;
}
h1 {
    color: antiquewhite;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 25px;
}
h2 {
    color: antiquewhite;
    text-align: center;
    font-family: monospace;
    text-transform: none;
    font-size: 20px;
}
h3{
    color: antiquewhite;
    text-align: center;
    font-family: monospace;
    text-transform: none;
    font-size: 18px;
}
p{
    color: antiquewhite;
    text-align: left;
    font-family: monospace;
    text-transform: none;
    font-size: 12px;
}
.topnav {
    overflow: hidden;
    background-color: black;
  }
  .topnav a {
    float: left;
    display: block;
    color:antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color:lightpink;
    color: black;
  }
  a:link {
    color:lightpink;
  }
  a:visited {
    color:violet;
  }
  a:hover {
    color:deeppink;
    text-decoration: underline;
  }
  a:active {
    color:deeppink;
  }
ul {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
}