body {
    background-color:black;
}
margin{
  left: 50px;
  right: 50px;
}
h1 {
    color:white;
    text-align: center;
    font-family:'times new Roman';
    text-transform: uppercase;
    font-style:initial;
    font-weight: bold;
    font-size: 40px;
}
h2 {
    color: white;
    text-align: center;
    font-family: verdana;
    text-transform: none;
    font-size: 25px;
    padding-top: 70px;
    padding-bottom: 50px;
}
h3{
    color: white;
    text-align: center;
    font-family: verdana;
    text-transform: none;
    font-size: 18px;
}
p{
    color: white;
    text-align: left;
    font-family: arial;
    text-transform: none;
    font-size: 15px;
}
article {
  color: white;
    text-align: left;
    font-family: arial;
    text-transform: none;
    font-size: 15px;
}
img {
  height: 300px;
  width: auto;
  position: relative;
}
#Hauptbild{
  height: auto;
  width: 100%;

}
table{
  color: white;
  font-family: Verdana;
  text-align: left;
  font-size: 15px;
}

  a:link {
  color:lightpink;
  padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  }
  a:visited {
    color:violet;
  }
  a:hover {
    color:deeppink;
    text-decoration: underline;
  }
  a:active {
    color:deeppink;
  }
ul {
  padding-top: 0px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  text-align: center;
  list-style: none;
}
footer{
  background-color:rgb(57, 57, 57);
  color:white;
}
header{
  background-color: black;
  color: white;
  position: initial;
  scroll-behavior: revert;
}
.slider {
  overflow-x: hidden;
  
}

.sliderElements {
  width: 600%; 
}

.sliderElements > li {
  float: left;
  width: 16%; 
}


.sliderElements:after {
  content: ".";
  display: block;
  height: .1px;
  clear: both;
  visibility: hidden;
  font-size: 0;
  overflow: hidden;
}
.sliderElements {
  position: relative;
  left: 30px;
}

.slider input:nth-of-type(2):checked ~ .sliderElements {
  left: -100%;
}

.slider input:nth-of-type(3):checked ~ .sliderElements {
  left: -200%;
}
.slider input:nth-of-type(4):checked ~ .sliderElements {
  left: -300%;
}
.slider input:nth-of-type(5):checked ~ .sliderElements {
  left: -400%;
}
.slider input:nth-of-type(6):checked ~ .sliderElements {
  left: -500%;
}
.sliderElements,
.sliderElements figure,
.sliderControls {
    margin: 0;
}
 
.sliderElements:after {
    content: ".";
    display: block;
    height: .1px;
    clear: both;
    visibility: hidden;
    font-size: 0;
    overflow: hidden;
}
 
.cssSlider {
    overflow-x: hidden;
}
 
.sliderElements {
    list-style: none;
    position: relative;
    left: 30px;
    width: 600%;
    margin-bottom: .8em;
    margin-left: 30px;
    padding: 0;
    -webkit-transition: left .8s ease-in-out;
    -moz-transition: left .8s ease-in-out;
    -o-transition: left .8s ease-in-out;
    transition: left .8s ease-in-out;
}
 
.sliderElements > li {
    float: left;
    width: 16%;
    position: relative;
}
 
#slide02:checked ~ .sliderElements {
    left: -100%;
}
 
#slide03:checked ~ .sliderElements {
    left: -200%;
}
 
#slide04:checked ~ .sliderElements {
    left: -300%;
}
#slide05:checked ~ .sliderElements {
  left: -400%;
}
#slide06:checked ~ .sliderElements {
  left: -500%;
}
.sliderElements figcaption {
    display: block;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 1em;
    padding: .4em;
    background:none;
    font-family: Verdana,sans-serif;
}
 

.sliderElements img {
    width: 100%;
    height: auto;
}
 
 

.cssSlider input {
    position: absolute;
    left: -99999px;
}
 

.sliderControls {
    text-align: center;
}
 

.sliderControls li {
    display: inline-block;
}
 

.sliderControls label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background:lightpink;
    color: lightpink;
}
 

.sliderControls label:hover,
#slide01:checked ~ .sliderControls label[for="slide01"],
#slide02:checked ~ .sliderControls label[for="slide02"],
#slide03:checked ~ .sliderControls label[for="slide03"],
#slide04:checked ~ .sliderControls label[for="slide04"]
#slide05:checked ~ .sliderControls label[for="slide05"] 
#slide06:checked ~ .sliderControls label[for="slide06"]  {
    background: white;
    color: white;
}
#topBtn {
  position:fixed;
  bottom: 0px;
  color: lightpink;
  background-color:gray;
  text-align: center;
  height: 30px;
  border-radius: 10%;
  box-shadow: none;

}
#topBtn:hover {
  background-color: deeppink;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 0px;
  right: 0em;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: deeppink;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}



#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


 
#menuToggle input:checked ~ ul
{
  transform: none;
}
