body {
    background-color:black;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'verdana';
    text-transform: uppercase;
    font-size: 30px;
}
h2 {
    color: white;
    text-align: center;
    font-family: verdana;
    text-transform: none;
    font-size: 25px;
}
h3{
    color: white;
    text-align: center;
    font-family: verdana;
    text-transform: none;
    font-size: 18px;
}
p{
    color: white;
    text-align: left;
    font-family: arial;
    text-transform: none;
    font-size: 15px;
}
article {
  color: white;
    text-align: left;
    font-family: arial;
    text-transform: none;
    font-size: 15px;
}
img {
  height: 300px;
  width: auto;
  text-align: center;
}
  a:link {
    color:lightpink;
  }
  a:visited {
    color:violet;
  }
  a:hover {
    color:deeppink;
    text-decoration: underline;
  }
  a:active {
    color:deeppink;
  }
ul {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  text-align: center;
}