body {
    background-color:black;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'verdana';
    text-transform: uppercase;
    font-size: 30px;
}
h2 {
    color: white;
    text-align: center;
    font-family: verdana;
    text-transform: none;
    font-size: 25px;
}
h3{
    color: white;
    text-align: center;
    font-family: verdana;
    text-transform: none;
    font-size: 18px;
}
p{
    color: white;
    text-align: left;
    font-family: arial;
    text-transform: none;
    font-size: 15px;
}
article {
  color: white;
    text-align: left;
    font-family: arial;
    text-transform: none;
    font-size: 15px;
}
img {
  height: 300px;
  width: auto;
  position: relative;
}

  a:link {
  color:lightpink;
  padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  }
  a:visited {
    color:violet;
  }
  a:hover {
    color:deeppink;
    text-decoration: underline;
  }
  a:active {
    color:deeppink;
  }
ul {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  text-align: center;
  list-style: none;
}
footer{
  background-color:rgb(57, 57, 57);
  color:white;
}
header{
  background-color: black;
  color: white;
  position: initial;
}
.slider {
  overflow-x: hidden;
  
}

.sliderElements {
  width: 600%; 
}

.sliderElements > li {
  float: left;
  width: 16%; 
}


.sliderElements:after {
  content: ".";
  display: block;
  height: .1px;
  clear: both;
  visibility: hidden;
  font-size: 0;
  overflow: hidden;
}
.sliderElements {
  position: relative;
  left: 30px;
}

.slider input:nth-of-type(2):checked ~ .sliderElements {
  left: -100%;
}

.slider input:nth-of-type(3):checked ~ .sliderElements {
  left: -200%;
}
.slider input:nth-of-type(4):checked ~ .sliderElements {
  left: -300%;
}
.slider input:nth-of-type(5):checked ~ .sliderElements {
  left: -400%;
}
.slider input:nth-of-type(6):checked ~ .sliderElements {
  left: -500%;
}
.sliderElements,
.sliderElements figure,
.sliderControls {
    margin: 0;
}
 
.sliderElements:after {
    content: ".";
    display: block;
    height: .1px;
    clear: both;
    visibility: hidden;
    font-size: 0;
    overflow: hidden;
}
 
.cssSlider {
    overflow-x: hidden;
}
 
.sliderElements {
    list-style: none;
    position: relative;
    left: 30px;
    width: 600%;
    margin-bottom: .8em;
    margin-left: 30px;
    padding: 0;
    -webkit-transition: left .8s ease-in-out;
    -moz-transition: left .8s ease-in-out;
    -o-transition: left .8s ease-in-out;
    transition: left .8s ease-in-out;
}
 
.sliderElements > li {
    float: left;
    width: 16%;
    position: relative;
}
 
#slide02:checked ~ .sliderElements {
    left: -100%;
}
 
#slide03:checked ~ .sliderElements {
    left: -200%;
}
 
#slide04:checked ~ .sliderElements {
    left: -300%;
}
#slide05:checked ~ .sliderElements {
  left: -400%;
}
#slide06:checked ~ .sliderElements {
  left: -500%;
}

.sliderElements figcaption {
    display: block;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 1em;
    padding: .4em;
    background:none;
    font-family: Verdana,sans-serif;
}
 

.sliderElements img {
    width: 100%;
    height: auto;
}
 
 

.cssSlider input {
    position: absolute;
    left: -99999px;
}
 

.sliderControls {
    text-align: center;
}
 

.sliderControls li {
    display: inline-block;
}
 

.sliderControls label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background:lightpink;
    color: lightpink;
}
 

.sliderControls label:hover,
#slide01:checked ~ .sliderControls label[for="slide01"],
#slide02:checked ~ .sliderControls label[for="slide02"],
#slide03:checked ~ .sliderControls label[for="slide03"],
#slide04:checked ~ .sliderControls label[for="slide04"]
#slide05:checked ~ .sliderControls label[for="slide05"] 
#slide06:checked ~ .sliderControls label[for="slide06"]  {
    background: white;
    color: white;
}